<div class="container mat-elevation-z8">
  <!-- <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="First Name" />
    </mat-form-field>
  </div> -->
  <br />
  <h4>Customers</h4>
  <br />
  <form [formGroup]="customerForm" (ngSubmit)="onSumbit()">
    <div class="row">
      <div class="col-2 mb-3">
        <input
          formControlName="first_name"
          type="text"
          class="form-control"
          placeholder="First Name"
        />
      </div>
      <div class="col-2 mb-3">
        <input
          formControlName="last_name"
          type="text"
          class="form-control"
          placeholder="Last Name"
        />
      </div>
      <div class="col-2 mb-3">
        <input
          formControlName="phone"
          type="text"
          class="form-control"
          placeholder="Phone"
        />
      </div>
      <div class="col-2 mb-3">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          placeholder="Email"
        />
      </div>
      <div class="col-2">
        <button
          [disabled]="!customerForm.valid"
          type="submit"
          class="btn btn-dark btn-sm"
        >
          Add Customer
        </button>
      </div>
    </div>
  </form>
  <hr />

  <mat-table #table [dataSource]="customers || []" matSort class="mat-cell">
    ng update @angular/cli @angular/core
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
      <mat-cell *matCellDef="let row; index as idx">{{ idx + 1 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >First Name</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.first_name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Last Name</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.last_name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.phone }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.email }}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Actions</mat-header-cell
      >mat-header-cell>

      <mat-cell *matCellDef="let row; let i = index">
        <button mat-icon-button color="accent" (click)="startEdit(row)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(row.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div
    class="no-results"
    [style.display]="customers && customers.length == 0 ? '' : 'none'"
  >
    No results
  </div>
  <div><br /></div>

  <!-- <mat-paginator
    #paginator
    [length]="(customers && customers.length) || 0"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator> -->
</div>
