<app-page-title [title]="'Customers'"></app-page-title>

<div class="section-bg p-3">
  <form [formGroup]="customerForm" (ngSubmit)="onSumbit()">
    <div class="row">
      <div class="col-2 mb-3">
        <input
          formControlName="first_name"
          type="text"
          class="form-control"
          placeholder="First Name"
        />
      </div>
      <div class="col-2 mb-3">
        <input
          formControlName="last_name"
          type="text"
          class="form-control"
          placeholder="Last Name"
        />
      </div>
      <div class="col-2 mb-3">
        <input
          formControlName="phone"
          type="text"
          class="form-control"
          placeholder="Phone"
        />
      </div>
      <div class="col-2 mb-3">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          placeholder="Email"
        />
      </div>
      <div class="col-2">
        <button
          [disabled]="!customerForm.valid"
          type="submit"
          class="btn btn-primary"
        >
          Add Customer
        </button>
      </div>
    </div>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="align-middle">Phone</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td *ngIf="customer.editable">{{ customer.id }}</td>
        <form [formGroup]="customerForm" (ngSubmit)="onSumbit()">
          <td *ngIf="customer.editable">
            <input
              formControlName="first_name"
              type="text"
              class="form-control"
              placeholder="First Name"
              value="{{ customer.first_name }}"
            />
          </td>
          <td *ngIf="customer.editable">
            <input
              formControlName="last_name"
              type="text"
              class="form-control"
              placeholder="Last Name"
              value="{{ customer.last_name }}"
            />
          </td>
          <td *ngIf="customer.editable">
            <input
              formControlName="phone"
              type="text"
              class="form-control"
              placeholder="Phone"
              value="{{ customer.phone }}"
            />
          </td>
          <td *ngIf="customer.editable">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              placeholder="Email"
              value="{{ customer.email }}"
            />
          </td>
          <td *ngIf="customer.editable">
            <button
              [disabled]="!customerForm.valid"
              type="submit"
              class="btn btn-primary"
            >
              Update
            </button>
          </td>
        </form>

        <td *ngIf="!customer.editable">{{ customer.id }}</td>
        <td *ngIf="!customer.editable">{{ customer.first_name }}</td>
        <td *ngIf="!customer.editable">{{ customer.last_name }}</td>
        <td *ngIf="!customer.editable">{{ customer.phone }}</td>
        <td *ngIf="!customer.editable">{{ customer.email }}</td>

        <td>
          <button (click)="onEdit(customer.id)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
              />
            </svg>
          </button>

          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
              />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
