.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

.form-control:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}
